.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Apps/.DS_Store
Apps/Moments/.DS_Store
Apps/sampling_CIs/.DS_Store
Apps/sampling_CIs/.DS_Store
Apps/Moments/.DS_Store
Apps/.DS_Store
Apps/sampling_CIs/.DS_Store
Apps/sampling_CIs/.DS_Store
Apps/sampling_CIs/.DS_Store
Apps/Moments/.DS_Store
Apps/.DS_Store
Apps/.DS_Store
Apps/Moments/.DS_Store
Apps/sampling_CIs/.DS_Store
